<div id='root'></div>

@section scripts{
    <script src="~/Scripts/bundles/vendor.js"></script>
    <script type="text/javascript">
        self._babelPolyfill = false;    //HACK: see http://stackoverflow.com/a/36672020/1434764
    </script>
    <script src="~/Scripts/bundles/main.js"></script>
}
